.feedback {
  width: 100vw;
  height: 100vh;
  /* background-image: url(../../img/3_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.feedback_wrapper {
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 20%); */
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 100%;
}

.feedback_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 85px;
}

.feedback_content a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218.6px;
  height: 61.7px;
  background: #fed494;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s linear;
}

.feedback_content a:hover {
  background: #ffffff;
  color: #4f4f4f;
}

.left_block_feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 946px;
  height: 412px;
  background: rgba(217, 217, 217, 0.44);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  margin-bottom: 90px;
  /* position: relative; */
}

.left_block_feedback h4 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  text-align: justify;
  color: #ffffff;
  margin-top: 50px;
}

.left_block_feedback p {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
  color: #ffffff;
}

.left_block_content_feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_block_content_feedback input {
  width: 612px;
  height: 65px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 700;
  padding: 0 10px;
}

.left_block_content_feedback button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 63px;
  background: #fed494;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 40px;
  transition: all 0.3s linear;
  color: #4f4f4f;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
  color: #4f4f4f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left_block_content_feedback button:hover {
  background: #fff;
  color: #4f4f4f;
}

@media screen and (max-width: 1537px) {
  .feedback_content {
    gap: 45px;
  }

  .left_block_feedback h4 {
    font-size: 20px;
    margin-top: 20px;
  }

  .left_block_content_feedback input {
    width: 550px;
    height: 45px;
    font-size: 20px;
  }

  .left_block_feedback {
    width: 700px;
    height: 300px;
  }

  .left_block_feedback p {
    font-size: 14px;
  }

  .left_block_content_feedback button {
    width: 155px;
    height: 50px;
    margin-top: 10px;
    font-size: 18px;
  }
}

@media screen and (max-width: 426px) {
  .feedback {
    height: 100%;
  }
  .feedback_wrapper {
    height: 100%;
  }
  .title_comunity {
    margin: 20px 0 0 0;
  }
  .left_block_feedback {
    width: 405px;
    height: 280px;
  }
  .left_block_feedback h4 {
    margin-bottom: 15px;
  }
  .left_block_content_feedback input {
    width: 370px;
    height: 40px;
  }
  .left_block_feedback p {
    font-size: 12px;
    line-height: 120%;
    max-width: 360px;
  }
  .left_block_feedback {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 376px) {
  .left_block_feedback {
    width: 360px;
    height: 280px;
  }

  .left_block_content_feedback input {
    width: 320px;
    height: 40px;
  }
  .left_block_feedback p {
    max-width: 310px;
  }
  .left_block_feedback h4 {
    font-size: 18px;
  }
}
